<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot de Bootstrap</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <header>
        <h1>Spring Boot de Bootstrap</h1>
    </header>
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <p>Spring Initializr on 2019-Oct-31</p>
            <img th:src="@{/images/Halloween.png}">
        </div>
        <div class="col-md-4 col-sm-4">
            <p>Spring Initializr</p>
            <a href="https://start.spring.io">https://start.spring.io</a>
        </div>
    </div>
    <footer>
        <p>フッター</p>
    </footer>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>